<div class="application-detailed">
  {{#if model.latest}}
    <div class="ribbon ribbon-black">
      <div class="banner">
        <div class="text">LATEST</div>
      </div>
    </div>
  {{/if}}
  <div class="body">
    <header>{{model.name}}</header>
    <div>{{model.description}}</div>
    <footer>
      <ul>
        {{#each model.tags key='id' as |tag|}}
          <li class="label">{{tag.id}}</li>
        {{/each}}
      </ul>
    </footer>
  </div>
</div>
