<ul class="timeline">
  <li>
    <div class="card">
      <header>
        Memsoria.pl
      </header>
      <div class="time-info">03.03.2012 - 28.03.2015</div>
      <div class="main">
      Memsoria.pl is successful Open Tibia Server.
      For 3 years I've worked as the only web developer, programmer, linux administrator, graphic designer.
      I've created a lot of PHP systems for server website. It was created with Smarty and CodeIgniter, so I had to understand MVC and templating system.
      Server and website were hosted on Linux Debian machine so I gained a lot of experience with Linux.
      Also, both game server and website were using MySQL database so I've learned also much about SQL.
      During that time I also had to deal with securing website against SQL injections and other vulnerabilities.
      I've worked under pressure of time and quality of things I deliver had to be good because server had tens of thousands of accounts created.
      Server was also DDOSed so I gained some experience with Linux firewalls, network traffic, securing Linux machines.
      I understood there how to maintain and grow secure website starting from Linux + Apache, PHP + MVC up to HTML + CSS + JS/jQuery.
      </div>
      <div class="bottom"><div class="label cursor-pointer see-through-bordered">MySQL</div></div>
    </div>
  </li>
  <li>
    <div class="card">
      <header>
        Ninonline.org
      </header>
      <div class="main"></div>
      <div class="bottom"><div class="label cursor-pointer see-through-bordered">MySQL</div></div>
    </div>
  </li>
</ul>
