<div class="about-container">
  {{#link-to 'about.general'}}
  	<div class="about-top">
  		<header>general</header>
  	</div>
  {{/link-to}}
	<div class="about-split">
		<div class="circle">
			<span class="text">choose</span>
		</div>
		<div class="arrow">
			<div class="arrow-concrete"></div>
		</div>
	</div>
  {{#link-to 'about.experience'}}
  	<div class="about-bottom">
  		<header>volunteer experience</header>
  	</div>
  {{/link-to}}
</div>
