<div class="background-image"></div>

<div class="dusted opacity-0 fade-out">
  <img src="/img/tw.gif" />
  <img src="/img/tw.gif" />
  <img src="/img/tw.gif" />
</div>

<section class="text-center over-image">
  {{outlet}}
</section>
