<section class="contact text-center">
  <div class="row full">
    <div class="large-12 columns intro-text">
      <p>
        Please contact me via e-mail: <a href="mailto:kuzirashi@interia.pl">kuzirashi@interia.pl</a>.
      </p>
    </div>
  </div>
</section>
