<section class="contact text-center">
  <div class="row full">
    <div class="large-12 columns intro-text">
      <div class="bw-box">
        <div class="main">HIRE@DANIELKMAK.COM</div>
        <footer>HIRE ME</footer>
      </div>
    </div>
  </div>
</section>
