<section class="contact text-center">
  <div class="row full">
    <div class="large-12 columns intro-text">
      <p>
        <span class="noselect">Please contact me via e-mail: </span><a href="mailto:kuzirashi@interia.pl">kuzirashi@interia.pl</a><span class="noselect">.</span>
      </p>
    </div>
  </div>
</section>
