<div class="hero">
  <div class="row full">
    <div id="particles-js"></div>
    <div class="large-12 columns intro-text noselect">
      <p>
        <a href="http://stackoverflow.com/users/2166409/daniel" target="_blank">
          <img src="http://stackoverflow.com/users/flair/2166409.png?theme={{if heroHovered 'dark' 'clean'}}" title="profile for Daniel at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
        <em class="me-equals">an aspiring web engineer.</em>
      </p>
    </div>
  </div>
</div>
